[submodule "Tickify-backend"]
	path = Tickify-backend
	url = https://github.com/Tik-it/Tickify-backend
[submodule "Tickify-frontend"]
	path = Tickify-frontend
	url = https://github.com/Tik-it/Tickify-frontend
